<a href="https://colab.research.google.com/github/gopiBNK/gopiBNK/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import streamlit as st
from class_database import DatabaseManager
from class_crud import CRUDoperations

# Initialize Database Manager and CRUD operations
db_manager = DatabaseManager(db_name="zomato.db")
crud = CRUDoperations(db_manager)

# Title of the app
st.title("Zomato - Food Delivery Data Insights")

# Sidebar navigation with CRUD operations and Queries
option = st.sidebar.selectbox(
    "Choose an option",
    ["CRUD Operations", "Execute Queries"]
)

# CRUD Operations options
if option == "CRUD Operations":
    crud_option = st.sidebar.selectbox(
        "Choose CRUD Operation",
        ["Create Table", "Delete Table", "Alter Table", "Update Table", "View Tables", "Insert Data"]
    )

    # Handle CRUD operations
    if crud_option == "Create Table":
        st.subheader("Create Table")
        crud.create_table()

    elif crud_option == "Delete Table":
        st.subheader("Delete Table")
        crud.delete_table()

    elif crud_option == "Alter Table":
        st.subheader("Alter Table")
        crud.alter_table()

    elif crud_option == "Update Table":
        st.subheader("Update Table")
        crud.update_table()

    elif crud_option == "View Tables":
        st.subheader("View Tables")
        crud.view_tables()

    elif crud_option == "Insert Data":
        st.subheader("Insert Data")
        crud.insert_data()

# Queries option
elif option == "Execute Queries":
    query_option = st.sidebar.selectbox(
        "Choose a Query",
        [
            # Queries for restaurants table
            "SELECT * FROM restaurants",
            "SELECT name, location FROM restaurants",
            "SELECT * FROM restaurants WHERE rating > 4.5",
            "SELECT COUNT(*) FROM restaurants",
            "SELECT name FROM restaurants WHERE location = 'New York'",
            "SELECT name, rating FROM restaurants WHERE rating BETWEEN 4 AND 5",
            "SELECT location, AVG(rating) FROM restaurants GROUP BY location",
            "SELECT location, COUNT(*) FROM restaurants GROUP BY location",
            "SELECT * FROM restaurants ORDER BY rating DESC",
            "SELECT * FROM restaurants WHERE rating = 5",
            "SELECT DISTINCT location FROM restaurants",
            "SELECT * FROM restaurants WHERE name LIKE '%A%'",
            "SELECT * FROM customer",
            "SELECT name, email FROM customer",
            "SELECT name FROM customer WHERE city = 'Los Angeles'",
            "SELECT * FROM customer WHERE age > 25",
            "SELECT COUNT(*) FROM customer WHERE gender = 'Female'",
            "SELECT city, COUNT(*) FROM customer GROUP BY city",
            "SELECT city, AVG(age) FROM customer GROUP BY city",
            "SELECT * FROM customer LIMIT 10",
        ]
    )

    st.subheader("Execute Query")
    st.write(f"Executing query: `{query_option}`")

    # Execute the query when button is pressed
    if st.button("Execute Query"):
        try:
            data = db_manager.fetch_data(query_option)
            if data is not None and not data.empty:
                st.write(data)
            else:
                st.warning("Query executed successfully, but no data found.")
        except Exception as e:
            st.error(f"Error executing query: {e}")